{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@components": "./src/components",
          "@pages": "./src/pages",
          "@utils": "./src/utils",
          "@theme": "./src/theme",
          "@domain": "./src/domain"
        }
      }
    ]
  ]
}
